back/auth-service/node_modules/
back/chat-service/node_modules/
back/product-service/node_modules/
back/cart-service/node_modules/
back/order-service/node_modules/
back/payment-service/node_modules/
back/order-service/node_modules/
back/mail-service/node_modules/
back/.env
back/auth-service/.env
back/chat-service/.env
.env
back/.venv/
**/venv/
venv/

.env

**/__pycache__/
**/.venv/

back/src/demo/__pycache__/

*.pem
terraform.tfvars
.terraform/

devops/ansible/inventory.ini
devops/ansible/*.retry